name: Black

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      task-trigger: .push

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black==20.8b1
    - name: Run black
      run: |
        black --version
        if [ -f ${task-trigger} ]; then
          echo "The file ${task-trigger} exists, run black, write changes"
          black .
        else
          echo "The file ${task-trigger} doesn't exist, run black with the --check option, do not write changes"
          black --check .
        fi
    - name: Commit and push if changed
      run: |-
        git diff
        git config --global user.email "actions@users.noreply.github.com"
        git config --global user.name "run-black-bot"
        git add -A
        git commit -m "code style: black" || exit 0
        git push
